<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8" />
        <title>DASHBOARD DESIGN</title>
        <link rel = "stylesheet" href=" style.css" />
        <link
            rel="stylesheet"
            href = "...."
        />
    </head>
    <body>
        <div class="sidebar"> 
            <div class= "logo"></div>
            <ul class = "menu">
                <li class = "active">
                    <a href=" #" >
                       <i class = "fas fa-tachometer-alt"></i>
                       <span>DASHBOARD</span>
                    </a>
                </li>
                <li>
                    <a href=" #">
                       <i class = "fas fa-user"></i>
                       <span>PROFILE</span>
                    </a>
                </li>
                <li>
                    <a href=" #">
                       <i class = "fas.fa-tachometer-alt"></i>
                       <span>EXPLORE</span>
                    </a>
                </li>
                <li>
                    <a href=" #">
                       <i class = "fas.fa-tachometer-alt"></i>
                       <span>FOR ME</span>
                    </a>
                </li>
                <li class = "logout">
                    <a href=" #">
                       <i class = "fas fa-sign-out-alt"></i>
                       <span>LOGOUT</span>
                    </a>
                </li>
                </ul>
            </div>
        </div>

    </body>
</html>